/* defaults */
body{
    font-size: 20px;
    background-color: lightgray;
}


/* properties for header class */
.header{
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 5px;
    font-weight: bolder;
    max-height: 70px;
    background-image: linear-gradient(to right,rgb(78, 70, 70), navy);
}
#mainPage{
    display:flex;
}
#left-column{
    display:flex;
    margin: 10px;
    max-width: 25%;
}

/* properties for city button class */
.cityButton{
    color:black;
    background-color: rgb(78, 70, 70);
    border-radius: 5px;
    margin:5px;
    text-align: center; 
    min-width: 70px;
}
/* hover properties for city button class */
.cityButton:hover{
    color:lightskyblue;
    box-shadow: 0 -3px 0 0 skyblue;
}

/* properties for search button id */
.searchBtn{
    text-align: center;
    color:white;
    border-radius: 5px;
    background-color: rgb(79, 76, 102);
    margin: 10px;
    min-width: 300px;
    
}

/* hover properties for search button id */
.searchBtn:hover{
    color:lime;
    box-shadow: 0 -3px 0 0 lime;
}
/* properties for h3 */
h2{
    color:rgb(78, 70, 70);
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}
/* properties for h3 */
h3{
    color: navy;
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
}
h4{ 
    border-top:3px solid rgb(78, 70, 70); 
    color: navy;
    font-size: 20px;
    margin: 10px;
}
#right-column{
    display:flex;
    max-width:75%;
}
.currentWeatherP{
    font-size: 20px
}

#current-weather{
min-width: 60%;
min-height: 30%;
border-style: outset;
border-color: linear-gradient(to right,rgb(78, 70, 70), navy);
border-width: 10px;
}
